x/*=========================================
*             FULL PAGE STYLES
*=========================================*/

html, body {
min-height: 100%;
padding: 0px;
margin: 0px;
}

html {
background-color: rgba(1, 1, 1, 0.5);
}

#body-all {
overflow: hidden;
}

/*=========================================
*               NAV BAR
*=========================================*/

#nav_bar {
background-color: rgba(255,255,255,0.95);
font-family: 'Montserrat';
font-weight: bold;
font-size: 20px;
list-style-type: none;
top: 0;
left: 0;
width: 100%;
margin: 0px;
margin-bottom: 5%;
padding: 0;
overflow: hidden;
z-index: 9999;
text-align: center;
}

#nav_bar span {
display: inline-block;
padding-top: 8px;
font-family: 'Bungee Hairline', 'Montserrat';
font-size: 40px;
font-weight: 100;
}

.nav_item {
float: left;
}

.nav_item img {
width: 40px;
height: 40px;
}

.nav_item a {
display: block;
color: rgba(0,0,0,0.4);
text-align: center;
padding: 10px 5px 13px 0px;
text-decoration: none;
}

#first_item {
padding-left: 50px;
}

#first_item a {
margin-top: 0px;
}

#title {
padding-left: 10px;
margin-top: 10px;
}

.nav_item a:hover {
transition-property: all;
transition-duration: .7s;
transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
color: rgba(1, 1, 1, 0.6);
}

/*=========================================
*               SITE BODY
*=========================================*/

.transparent {
background-image: url("../images/finance.png");
background-size: cover;
padding: 0px;
margin: 0px;
top: 0px;
left: 0;
width: 100%;
min-height: 100%;
background-color: rgba(0,0,0,1);
overflow: scroll;
}

.overlay {
min-height: 360px;
width: 900px;
background-color: rgba(0,0,0,0.85);
left: 0; right: 0;
margin-right: auto; margin-left: auto;
border-radius: 15px;
text-align: center;
font-family: sans-serif;
margin-bottom: 150px;
position: static;
padding-top: 50px;
}

.overlay h1 {
font-family: 'Montserrat';
font-weight: bold;
font-size: 65px;
margin-bottom: 10px;
color: white;
margin-top: 0px;
}

.overlay h2 {
font-family: 'Montserrat';
margin-top: 0px;
margin-bottom: 25px;
font-size: 35px;
color: white;
}

/*=========================================
*             ASK WATSON
*=========================================*/

#ask-him {
font-family: sans-serif;
font-weight: 100;
font-size: 14px;
border-radius: 4px;
margin-left: auto; margin-right: auto;
margin-bottom: 15px;
width: 800px;
margin-top: 0px;
}

#ask-him input {
padding-left: 20px;
font-size: 20px;
font-family: 'helvetica neue';
font-weight: 200;
height: 50px;
width: 800px;
margin-bottom: 15px;
}

button.fill-div:hover {
cursor: pointer;
transition-property: all;
transition-duration: 2s;
transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
background: rgba(255, 255, 255, 0.15);
}

button.fill-div {
background-color: rgba(0,0,0,0);
display: block;
height: 52px;
width: 100px;
padding: 10px 0px 10px 0px;
color: white;
text-decoration: none;
border: 1px solid white;
border-radius: 3px;
margin-left: auto;
margin-right: auto;
margin-top: 14px;
margin-bottom: 50px;
font-size: 25px;
}

/*=========================================
*               WATSON LOADING
*=========================================*/

#loading-wheel {
height: 180px;
width: auto;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 10px;
}

#loading-back {
top: 0;
position: fixed;
height: 100%;
width: 100%;
background-color: rgba(0,0,0,0.8);
display: none;
}

/*=========================================
*            WATSON's RESULTS
*=========================================*/

#results {
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
border-radius: 5px;
width: 800px;
color: black;
margin-bottom: 10px;
padding: 0px; padding-right: 0px; padding-top: 0px;
display: none;
font-family: 'Montserrat', 'helvetica neue';
font-size: 22px;
}

#line-white {
width: 900px;
border-bottom: 1px solid white;
}

#results h4 {
font-weight: 100;
color: white;
opacity: 1;
}

#results h4 a {
color: white;
}

.results-top {
font-size: 30px;
}

#sentiment {
margin-bottom: 0px; margin-top: 0px;
padding-bottom: 0px; padding-top: 35px;
}

#reveal {
padding-top: 25px;
padding-bottom: 70px;
height: 100px;
width: 100px;
display: none;
}

#text-display {
padding-top: 30px;
border-top: 1px solid rgba(255,255,255,0.35);
}

.help-msg {
text-decoration: underline;
cursor: pointer;
}

#score-header {
border-bottom: 1px solid rgba(255,255,255,0.35);
padding-bottom: 70px;
margin-bottom: 0px;
}

/*=========================================
*                 NEWS
*=========================================*/

#alchemy {
padding-top: 35px; padding-bottom: 0px;
margin-top: 0px; margin-bottom: 0px;
border-bottom: 1px solid rgba(255,255,255,0.35);
}

#news-logo {
padding: 8px;
height: 60px;
width: auto;
padding-bottom: 15px;
}

.news-article {
padding: 10px;
word-wrap: break-word;
display: block;
width: 500px;
border: 2px solid white;
margin-left: auto; margin-right: auto; margin-top: 0px; margin-bottom: 10px;
border-radius: 5px;
text-decoration: none;
}

.news-article:hover {
background-color: rgba(255,255,255,0.2);
}

/*=========================================
*                 TWEETS
*=========================================*/

.tweet-div {
width: 500px;
margin-left: auto;
margin-right: auto;
padding-bottom: 30px;
}

#twtr-logo {
padding: 8px;
height: 60px;
width: auto;
}

/*=========================================
*             PAGE FOOTER
*=========================================*/

.footer {
position: fixed;
text-align: center;
font-family: 'Bungee Hairline', 'helvetica neue';
font-size: 20px;
line-height: 0px;
color: black;
bottom: 0;
right: 0;
left: 0;
background-color: rgba(255,255,255,0.95);
padding: 0px;
}

.footer a {
text-decoration: none;
}

/*=========================================
*             FADE IN EFFECT
*=========================================*/

h1, h2, p, a, div {
-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein 1s; /* firefox */
animation: fadein 1s;
}

/*=========================================
*             MOBILE VIEW
*=========================================*/

@media screen and (max-device-width: 480px){
.nav_item img {
width: 80px;
height: 80px;
}
.footer {
font-size: 30px;
}
#nav_bar {
margin-bottom: 10%;
}
/*==========================
*      TALLER OVERLAY
*===========================*/
.overlay {
min-height: 700px;
}
.overlay h2 {
padding-left: 5px;
padding-right: 5px;
font-size: 50px;
font-family: 'Futura';
}
.overlay h1 {
padding-top: 75px;
font-size: 100px;
font-weight: 500;
}
button.fill-div {
border: 2px solid white;
height: 75px;
width: 150px;
}
button.fill-div i {
font-size: 42px;
}
#ask-him {
min-height: 70px;
}
#loading-wheel {
height: 350px;
}
#twtr-logo {
height: 75px;
}
#news-logo {
height: 75px;
}
/*==========================
*      BIGGER FONTS
*===========================*/
#nav_bar span {
padding-top: 28px;
}
#ask-him input {
font-family: 'Montserrat';
margin-bottom: 20px;
font-size: 32px;
height: 70px;
font-weight: 100;
}
#results h4 {
font-size: 50px;
}
#reveal {
height: 175px;
width: 175px;
padding-bottom: 100px;
}
}
